<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Tipping.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3CF0CC11C3254F700791BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3CF0CD51C3254F700791BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B3CF0CE01C3254F700791BA9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
